.content1 {
    /* This is the parent of the activity 1 boxes. */
  
  }
  .red1 { 
    width: 100px; 
    height: 100px; 
    background-color: white; 
  
  } 
  .green1 {
    width: 100px; 
    height: 100px; 
    background-color: grey; 
  